.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2em;
    /*Fuente: https://stackoverflow.com/questions/3971880/how-to-make-shadow-on-border-bottom*/
    -webkit-box-shadow: 11px 0px 6px -12px #222;
    -moz-box-shadow: 11px 0px 6px -12px #222;
    box-shadow: 11px 0px 6px -12px #222;
    z-index: 1000;
    padding: 0.5em;
}

.principal{
    height: calc(100vh - 64px);
    margin: 0px;
}

.header-contenido {
    height: 100%;
    display: flex;
}

.header-contenido .header {
    width: fit-content
}

.menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    gap: 0.5em;
    padding: 0;
}

.menu ul li {
    /*QUitar las bolicas de los li en los ul */
    list-style-type: none;

     /* Como no es de tipo button
    se pierde el cursor en forma de mano 
    asi que hay que ponerlo */
    cursor: pointer;
    margin-left: 0.5em;
    margin-right: 0.5em;

    background-position: top;
    height: 30px;
    width: fit-content;
    background-repeat: no-repeat;
    background-color: inherit;
    border: none;
    padding-top: 30px;
    background-size: 30px 30px;

    font-size: smaller;
}

.menu ul li:hover {
    font-weight: bold;
    color: rgb(223, 129, 42);;
}

.tablon {
    background-image: url('http://localhost/erasmus/interfaz/images/tablon.png');
}

.tablon:hover{
    background-image: url('http://localhost/erasmus/interfaz/images/tablon-hover.png');
}

.proyecto {
    background-image: url('http://localhost/erasmus/interfaz/images/proyecto.png');
}

.proyecto:hover{
    background-image: url('http://localhost/erasmus/interfaz/images/proyecto-hover.png');
}

.convocatoria {
    background-image: url('http://localhost/erasmus/interfaz/images/convocatoria.png');
}

.convocatoria:hover{
    background-image: url('http://localhost/erasmus/interfaz/images/convocatoria-hover.png');
}

.puntuar {
    background-image: url('http://localhost/erasmus/interfaz/images/puntuar.png');
}

.puntuar:hover{
    background-image: url('http://localhost/erasmus/interfaz/images/puntuar-hover.png');
}

.contenido-iframe{
    width: 100%; 
    background-color: rgb(229 221 210 / 50%);
    display: flex;
    justify-content: center;
}

#iframe {
    background-color: white;
    border-color: rgb(229 221 210);
    width:80%;
    height: 100%;
    border: unset;
    -webkit-box-shadow: 1px 0px 8px -2px #222;
    -moz-box-shadow: 1px 0px 8px -2px #222;
    box-shadow: 1px 0px 8px -2px #222;
   
}

#logo{
    background-image: url('http://localhost/erasmus/interfaz/images/logo.png');
    background-repeat: no-repeat;
    border: none;
    background-size: 60px 65px;
    height: 60px;
    width: 60px;
    margin-left: 0.5em;
}

.informacion-usuario {
    
    align-items: center;
    gap: 0.75em;
}

#nombre {
    font-weight: bold;
    margin: auto;    
}
.pie{
    border-top: 3px solid rgb(229 221 210 / 50%);;
    background-color: white;
    width: 100%;
    height: 6%;
}

.pie address {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenido-datos-direccion{
   display: flex;
   align-items: center;
   gap: 0.75em;
}

.contenido-datos-contacto{
    padding: 0.75em;
    display: flex;
    gap: 2em;
}

#emailContacto{
    font-size: small;
    color: #3e3e3e;
}
#telefonoContacto{
    font-size: small;
    color: #3e3e3e;
}

.redes-sociales{
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.redes-sociales a{
    margin-left: 0.5em;
}
.redes-sociales .iconos {
    display: flex;
}

.redes-sociales a div {
    background-size: 1.5em 1.5em;
    height: 1.5em;
    width: 1.5em;
}

#facebook{
    background-image: url('http://localhost/erasmus/interfaz/images/facebook.png');
}

#blogErasmus{
    background-image: url('http://localhost/erasmus/interfaz/images/blogErasmus.png');
    width: 3em;

    background-size: 3em 2em;

}
