.convocatoria {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.informacion {
    margin-left: 0.5em;
}

.convocatoria .informacion:hover {
    text-decoration: underline;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.estado-borrador:after {
    content: "En borrador";
}

.estado-solicitada {
    background-color: lightgreen;
}

.estado-solicitada:after {
    content: "Solicitada";
}

.estado-pruebas {
    background-color: lightblue;
}

.estado-pruebas:after {
    content: "Periodo de pruebas";
}

.estado-provisional {
    background-color: lightpink;
}

.estado-provisional:after {
    content: "Listado provisional";
}

.estado-definitivo {
    background-color: lightcoral;
}

.estado-definitivo:after {
    content: "Listado definitivo";
}
