.detalle {
    position: relative;
    margin-bottom: 5em;
}
.contenedor-botones {
    position: sticky;
    bottom: 0;
    left: 0;
    height: 5em;
    width: 100%;
    
    display: flex;
    justify-content: flex-end;
    background-color: rgba(255, 255,255, 0.70);
}

.cabecera {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.informacion-proyecto {
    max-width: 40%;
}

.icono-erasmus img {
    width: 16em;
}

.italic {
    font-style: italic;
}

h3 {
    font-weight: bold;
    border-bottom: 2px solid black;
}

#modalSolicitud {
    position: fixed;
}

form {
    position: relative;
}
.botones {

    display: flex;
    justify-content: space-between;
}

.entregable {
    border-top: 1px solid lightgray;
    margin-bottom: 1em;
}
.entregable p {
    font-weight: bold;
}

.fila input  {
    width: 66%;
}

 .fila div label {
    font-weight: bold;
 }

 .fila div input {
    width: 93%;
 }

.becados {
    border-bottom: 2px solid green;
}

.fotoContenedor {
    display: flex;
    justify-content: center;
    gap:1em;
    align-items: flex-end;
}
 
#photo {
    width: 12em;
    border-radius: 50%;
}

.camara-botones {
    display: flex;
}