.pagina-anidada .fila {
    justify-content: flex-start;
}

.estado-pendiente {
    background-color: orange;
}

.estado-evaluado {
    background-color: green;
}

.estado-pendiente:after {
    content: "Candidatos pendientes de evaluar";
}

.estado-evaluado:after {
    content: "Todos los candidatos han sido evaluados";
}

.evaluado {
    background-color: green;
}
.evaluado:after {
    content: "Todas los items han sido evaluados";
}

.pendiente {
    background-color: orange;
}
.pendiente:after {
    content: "Falta algún item por evaluar";
}

.convocatoria  {
    position: relative;
    height: 20em;
    overflow: scroll;
   }

.convocatoria .fila {
    background-color: white;
    position: sticky;
    top:0;
    z-index: 10000;
}
.convocatoria thead {
    background-color: white;
    position: sticky;
    top: 4em;
    z-index: 10000;
}

.fila input, select {
    width: 16em;
 }

 .fila div label {
    
    font-weight: bold;
 }

 .foto {
    float: right;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    border: 2px solid  rgb(223, 129, 42);
    overflow: hidden;
 }
 .foto img {
    width: 8em;
    height: 8em;
 }

 .fila div input {
    width: 93%;
 }

 tr .miniatura {
    display: block;
 }

 table .estado {
    height: 2.5em;
    width: 1px;
    z-index: 0;
 }

 .lupa-btn {
    height: 1.5em;
    width: 1.5em;
    border: unset;
    background-color: white;
    border-radius: 50%;
    background-image:  url('http://localhost/erasmus/interfaz/images/lupa.png');
    background-size: 1.5em 1.5em;
    background-repeat: no-repeat;
    background-position: center;
 }

 